@model IEnumerable<EShop_BD_1280429.ViewModel.UserInvoiceVM>
<br />
<br />
<br />
<br />
<div class="container mt-5">
    <h2 class="text-center mb-4">User Invoices</h2>
    <table class="table table-bordered table-hover table-striped">
        <thead class="thead-dark">
            <tr>
                <th>@Html.DisplayNameFor(model => model.First().Name)</th>
                <th>@Html.DisplayNameFor(model => model.First().InvoiceDate)</th>
                <th>@Html.DisplayNameFor(model => model.First().Payment)</th>
                <th>@Html.DisplayNameFor(model => model.First().Bill)</th>
                <th>@Html.DisplayNameFor(model => model.First().InvoiceId)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.InvoiceDate)</td>
                    <td>@Html.DisplayFor(modelItem => item.Payment)</td>
                    <td>@Html.DisplayFor(modelItem => item.Bill)</td>
                    <td>@Html.DisplayFor(modelItem => item.InvoiceId)</td>
                </tr>
            }
        </tbody>
    </table>
</div>
